$dark: rgb(44, 39, 39);
$light: rgb(196, 189, 189);
$info: rgb(85, 85, 238);
$danger: rgb(250, 15, 15);
$success: rgb(61, 224, 61);

@for $i from 1 through 12 {
  .col-#{$i} { 
    float: left;
    width: 100%/12 * $i;
    height: 100vh;
  }
}

@for $i from 1 through 4 {
  .w-#{$i} { 
    width: 25% * $i;
  }
}

@for $i from 1 through 4 {
  .h-#{$i} { 
    height: 25% * $i;
  }
}

@for $i from 1 through 6 {
  $base: 8;
  $fontsize: $base * $i;
  .font-#{$fontsize} { 
      font-size: $fontsize + 0px;
    }
}

$colors:(dark: $dark, light: $light, info: $info, danger: $danger, success: $success);

@each $name, $color in $colors {
  .bg-#{$name} {
   background-color: $color;
  }
  .text-#{$name} {
    color: $color;
  }
}

$font-weight:(light: 200, normal: 400, bold: 700, bolder: 900);

@each $name, $weight in $font-weight {
  .font-weight-#{$name} {
    font-weight: $weight;
  }
}

$display:(flex, block, inline, inline-block, table, grid, none);

@each $i in $display {
  .d-#{$i} {
    display: $i;
  }
}

$float:(right, left, none);

@each $i in $float {
  .float-#{$i} {
    float: $i;
  }
}

$fixed:(top, bottom);

@each $i in $fixed {
  @if $i == top {
    .fixed-#{$i} {
      position: fixed;
      top: 0;
    }
  } @else if $i == bottom {
    .fixed-#{$i} {
      position: fixed;
      bottom: 0;
    }
  }  
}

$margin:(top, right, bottom, left);

@each $i in $margin {
  @if $i == top {
    @for $j from 1 through 6 {
      $base: 0.5;
      .mt-#{$j} {
        margin-top: $base * $j + 0rem;
      }
    }
  } @else if $i == right {
    @for $j from 1 through 6 {
      $base: 0.5;
      .mr-#{$j} {
        margin-right: $base * $j + 0rem;
      }
    }
  } @else if $i == bottom {
    @for $j from 1 through 6 {
      $base: 0.5;
      .mb-#{$j} {
        margin-bottom: $base * $j + 0rem;
      }
    }
  } @else if $i == left {
    @for $j from 1 through 6 {
      $base: 0.5;
      .ml-#{$j} {
        margin-left: $base * $j + 0rem;
      }
    }
  } @else {
    @for $j from 1 through 6 {
      $base: 0.5;
      .m-#{$j} {
        margin: $base * $j + 0rem;
      }
    }
  }
}

$padding:(top, right, bottom, left);

@each $i in $padding {
  @if $i == top {
    @for $j from 1 through 6 {
      $base: 0.5;
      .pt-#{$j} {
        padding-top: $base * $j + 0rem;
      }
    }
  } @else if $i == right {
    @for $j from 1 through 6 {
      $base: 0.5;
      .pr-#{$j} {
        padding-right: $base * $j + 0rem;
      }
    }
  } @else if $i == bottom {
    @for $j from 1 through 6 {
      $base: 0.5;
      .pb-#{$j} {
        padding-bottom: $base * $j + 0rem;
      }
    }
  } @else if $i == left {
    @for $j from 1 through 6 {
      $base: 0.5;
      .pl-#{$j} {
        padding-left: $base * $j + 0rem;
      }
    }
  } @else {
    @for $j from 1 through 6 {
      $base: 0.5;
      .p-#{$j} {
        padding: $base * $j + 0rem;
      }
    }
  }
}
