html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
	{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}	

body {
  line-height: 1;
}	

ol, ul {
  list-style: none;
}	

blockquote, q {
  quotes: none;
}	

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
	content: none;
}	

table {
  border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

$dark: rgb(44, 39, 39);
$light: rgb(196, 189, 189);
$info: rgb(85, 85, 238);
$danger: rgb(250, 15, 15);
$success: rgb(61, 224, 61);
$grid--breakpoints: (
  'xxxsm': 375px,
  'xxsm':  480px,
  'xsm':   667px,
  'sm':    768px,
  'med':   960px,
  'lar':    1024px,
  'xlar':   1200px,
  'xxlar':  1400px,
  'xxxlar': 1600px,
);

$gutter-size:(25px);

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

@mixin createCol() {
  @each $name, $value in $grid--breakpoints {
    @media screen and (min-width:$value){
      @for $i from 1 through 12 {
        &-#{$name}-#{$i}{
          float: left;
          margin: 5px;
          height: 100vh;
          width: calc(#{100% / 12 * $i} - #{$gutter-size / 12 * (12 - $i)});
        }
      }  
    }
  }
}

.cell {
  @include createCol;
}

@for $i from 1 through 4 {
  .w-#{$i * 25} { 
    width: 25% * $i;
  }
}

@for $i from 1 through 4 {
  .h-#{$i * 25} { 
    height: 25% * $i;
  }
}

@for $i from 1 through 6 {
  $base: 8;
  $fontsize: $base * $i;
  .font-#{$fontsize} { 
      font-size: $fontsize + 0px;
    }
}

$colors:(dark: $dark, light: $light, info: $info, danger: $danger, success: $success);

@each $name, $color in $colors {
  .bg-#{$name} {
   background-color: $color;
  }
  .text-#{$name} {
    color: $color;
  }
}

$font-weight:(light: 200, normal: 400, bold: 700, bolder: 900);

@mixin font-weight($font-weight) {
  @each $name, $weight in $font-weight {
    &-#{$name} {
      font-weight: $weight;
    }
  }
}
.font-weight {
  @include font-weight($font-weight);
}

$display:(flex, block, inline, inline-block, table, grid, none, inline-flex, table-cell);

@mixin display($display) {
  @each $i in $display {
    &-#{$i} {
      display: $i;
    }
  }
}

.d {
  @include display($display);
}

$float:(right, left, none);

@each $i in $float {
  .float-#{$i} {
    float: $i;
  }
}

$fixed:(top, bottom);

@each $i in $fixed {
  @if $i == top {
    .fixed-#{$i} {
      position: fixed;
      top: 0;
    }
  } @else if $i == bottom {
    .fixed-#{$i} {
      position: fixed;
      bottom: 0;
    }
  }  
}

$margin:(top, right, bottom, left, main);

@mixin margin($margin) {
  @each $i in $margin {
    @if $i == top {
      @for $j from 1 through 6 {
        $base: 0.5;
        &t-#{$j} {
          margin-top: $base * $j + 0rem;
        }
      }
    } @else if $i == right {
      @for $j from 1 through 6 {
        $base: 0.5;
        &r-#{$j} {
          margin-right: $base * $j + 0rem;
        }
      }
    } @else if $i == bottom {
      @for $j from 1 through 6 {
        $base: 0.5;
        &b-#{$j} {
          margin-bottom: $base * $j + 0rem;
        }
      }
    } @else if $i == left {
      @for $j from 1 through 6 {
        $base: 0.5;
        &l-#{$j} {
          margin-left: $base * $j + 0rem;
        }
      }
    } @else {
      @for $j from 1 through 6 {
        $base: 0.5;
        &-#{$j} {
          margin: $base * $j + 0rem;
        }
      }
    }
  }
}

.m {
  @include margin($margin);
}


$padding:(top, right, bottom, left, main);

@each $i in $padding {
  @if $i == top {
    @for $j from 1 through 6 {
      $base: 0.5;
      .pt-#{$j} {
        padding-top: $base * $j + 0rem;
      }
    }
  } @else if $i == right {
    @for $j from 1 through 6 {
      $base: 0.5;
      .pr-#{$j} {
        padding-right: $base * $j + 0rem;
      }
    }
  } @else if $i == bottom {
    @for $j from 1 through 6 {
      $base: 0.5;
      .pb-#{$j} {
        padding-bottom: $base * $j + 0rem;
      }
    }
  } @else if $i == left {
    @for $j from 1 through 6 {
      $base: 0.5;
      .pl-#{$j} {
        padding-left: $base * $j + 0rem;
      }
    }
  } @else {
    @for $j from 1 through 6 {
      $base: 0.5;
      .p-#{$j} {
        padding: $base * $j + 0rem;
      }
    }
  }
}

$text-align:(center, right, left, start, end, initial, inherit, capitalize, lowercase, uppercase);

@each $i in $text-align {
  @if $i == capitalize or $i == lowercase or $i == uppercase {
    .text-#{$i} {
      text-transform: $i;
    }    
  } @else {
    .text-#{$i} {
      text-align: $i;
    }
  }  
}

$border-style:(dotted, dashed, solid, double, groove, ridge, inset, outset, none);
$border:(top, right, bottom, left);

.border {
  border: 1px solid black;
}

@each $i in $border-style {
  .border-#{$i} {
    border-style: $i;
  }
}

@each $name, $color in $colors {
  .border-#{$name} {
    border-color: $color;
  }
}

@each $i in $border{
  @for $j from 0 through 6 {    
  $base: 1;
  $width: $base + $j;
    @if $i == top {
      @if $j == 0 {
        .border-#{$i}-#{$j} {
          border-top: none;
        }
      } @else {
        .border-#{$i}-#{$j} {
          border-top-width: $width + 0px;
        }
      }      
    } @else if $i == right {
      @if $j == 0 {
        .border-#{$i}-#{$j} {
          border-right: none;
        }
      } @else {
        .border-#{$i}-#{$j} {
          border-right-width: $width + 0px;
        }
      }
    } @else if $i == bottom {
      @if $j == 0 {
        .border-#{$i}-#{$j} {
          border-bottom: none;
        }
      } @else {
        .border-#{$i}-#{$j} {
          border-bottom-width: $width + 0px;
        }
      }
    } @else if $i == left {
      @if $j == 0 {
        .border-#{$i}-#{$j} {
          border-left: none;
        }
      } @else {
        .border-#{$i}-#{$j} {
          border-left-width: $width + 0px;
        }
      }
    }
  }  
}

@for $i from 1 through 6 {
  $base: 1;
  $width: $base + $i;
  .border-#{$i} {
    border-width: $width;
  }
}

@each $i in $border{
  @each $j in $border-style {
    .border-#{$i}-#{$j} {
      border-#{$i}-style: #{$j};
    }
  }
}


